/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;display:inline-block;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
li,a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
p,span{display:inline;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,legend{font:14px/1.25 helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体";color:#333;outline:0;}
body{background:#f8f8f8;}
/*a,a:hover{color:#1d1d1d;}*/
button,input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none;}
html,body{width:100%;height:100%;}

/* function */
.f-dn{display:none !important;}
.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb{zoom:1;}
.f-fs0{font-size:12px;}
.f-fs1{font-size:14px;}
.f-lh0{line-height:15px;}
.f-fc1{color:#999;}
.f-fc2{color:#ff3f00;}
.f-fbold{font-weight:bold;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-shadow{box-shadow:-1px 1px 1px #ecebeb,1px 1px 2px #d4d3d3;}
.f-shadow-big{box-shadow:-1px 1px 2px 1px #d0cfd0,1px -1px 2px 1px #d0cfd0;}
.f-oh{overflow:hidden;}
.f-bd{border:1px solid #d0cfd0;}

.g-doc{position:relative;}
.g-hd{background:#fff;}
.g-bd{width: auto;}

.g-mn{margin:0 auto;margin-top:84px;width:1206px;}
.g-mnc{width:980px;}
.g-sd{width:224px;}
.g-sd .u-title{position:relative;width:223px;height:55px;border-bottom:1px solid #ecebeb;}
.g-sd .u-title h3{display:inline-block;position:absolute;top:19px;left:20px;font-size:16px;} 
.g-ft{background:#2c3339;height:262px;padding-top:90px;}

.m-note-wrap{background-color: #f3f3f3;}
.m-note{width: 1206px;height: 36px;margin:0 auto;position:relative;}
.m-note p{line-height: 36px;color:#333;}
.m-note a{color:#21a557;}
.m-note .u-noshow{position:absolute;right:1px;cursor:pointer;}


.m-top{width:1206px;margin:0 auto;height: 22px;padding:33px 0 34px;}
.m-top .m-logo{width:238px;}
.m-top .m-logo h1{width:155px;height:26px;padding-left: 83px;background:url(images/sprite.png)  no-repeat -205px 4px;font-size: 22px;line-height:26px;}
.m-top .m-favor{margin-left:31px; height:26px; line-height:26px; } 
.m-favor .u-btn1{background:url(images/sprite.png) no-repeat -142px 0px; width:56px; height:21px; display:inline-block; font-size:12px; text-align:center; line-height:21px; color: #fff;cursor: pointer; }
.m-favor .u-btn2{background:url(images/sprite.png) no-repeat -60px -28px; width:106px; height:21px; display:inline-block; font-size:12px; text-align:center; line-height:21px; color: #000;cursor: pointer; }
.m-favor .u-btn1:hover{background:url(images/sprite.png) no-repeat 0px -29px; }
.m-favor .u-btn2:hover{background:url(images/sprite.png) no-repeat -170px -28px; }
.m-favor .u-btn2>a:hover{color:#39a030;}
.m-top .m-favor .u-fan{margin-left:14px; }
.m-top .m-nav{width:452px;margin-right:14px;}
.m-top .m-nav>a{margin-left:54px;height:22px;line-height:22px;font-size:16px;}
.m-top .m-nav>a:hover{color:green;}
.m-top .m-nav .u-icn{display:block;margin-left:0px;width:18px;height:18px;background:url(images/sprite.png) no-repeat -11px 0px;}
.m-top .m-nav .u-icn:hover{background:url(images/sprite.png) no-repeat -31px 0px;}

.m-tips{display:none;}

.m-wrap{text-align:center;}
.m-sld-wrap{position:relative;display:inline-block;width:1616px;height:460px;}
.m-slider,.m-slider .u-slider{width:100%;height:100%;}
.m-slider .u-slider{position: absolute;top:0;left: 0;text-align: center;background-color: #fff;}
.m-slider .u-slider img{position: absolute;top:0;left: 0;width: 100%;height: 100%;cursor:pointer;}

.m-slider .u-slider .z-active{transition: opacity .5s ease-in;}
.m-sld-wrap .u-pointer {z-index: 10;position: absolute;bottom: 10px;left: 50%;-ms-transform: translateX(-50%);transform: translateX(-50%);}
.m-sld-wrap .u-pointer i{width: 10px;height: 10px;background-color: #fff;-ms-border-radius: 10px;border-radius: 10px;display: inline-block;vertical-align:bottom;margin-left: 5px;cursor:pointer;}
.m-sld-wrap .u-pointer .z-active{background-color: #000;}

.m-wrap .m-nav1{width:1206px;height:298px;margin:0 auto;}
.m-wrap .m-nav1 .m-ad{width:402px;}
.m-wrap .m-nav1 .m-ad .m-icon{width:80px;position:relative;}
.m-wrap .m-nav1 .m-ad .m-icon .u-icon{position:absolute;top:69px;left:5px;width:80px;height:80px;}
.m-wrap .m-nav1 .m-ad .m-icon .u-i1{background:url(images/sprite.png) no-repeat -5px -55px;}
.m-wrap .m-nav1 .m-ad .m-icon .u-i2{background:url(images/sprite.png) no-repeat -89px -55px;}
.m-wrap .m-nav1 .m-ad .m-icon .u-i3{background:url(images/sprite.png) no-repeat -173px -55px;}
.m-wrap .m-nav1 .m-ad .m-info{margin:61px 0 0 105px;clear:both;text-align:left;}
.m-wrap .m-nav1 .m-ad .m-info h3{font-size:20px;margin-bottom:20px;}
.m-wrap .m-nav1 .m-ad .m-info p{display:block;width:238px;font-size:20px;margin-bottom:20px;text-align:justify;font-size:14px;}
.m-wrap .m-nav1 .m-ad .m-info a{display:inline-block;margin-top:35px;color:green;}
.m-wrap .m-nav1 .m-ad .m-info a:hover{text-decoration:underline;}

.m-wrap .m-imgs{display:table;table-layout:fixed;width:1652px;margin:0 auto;}
.m-wrap .m-imgs img{width:320px;height:220px;}

.m-tab{background-color:#fff;width:401px;height:51px;z-index:210;color:#000;}
.m-tab li a{display:inline-block;width:200px;height:50px;line-height:50px;font-size:20px;text-align:center;}
.m-tab li a:active{background-color:#39a030;z-index:200;color:#fff;}

.m-ct{margin-top:28px;width:100%;}
.m-list1{width:100%;}
.m-list1 li{position:relative;margin-right:20px;margin-bottom:18px;width:225px;height:228px;box-sizing:border-box;background-color:#fff;}
.m-list1 li img{width:223px;height:124px;margin:1px 1px;}
.m-list1 li .u-info{margin-left:6px;line-height:19px;width:210px;height:84px;}
.m-list1 li .u-info h4{display:block;width:210px;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:21px;line-height: 21px}
.m-list1 li .u-info span{display:block;font-size:12px;height:21px;line-height: 21px}
.m-list1 li .u-info .u-learner{display:inline-block;margin:6px 0;border:solid 1px #ddd;height:16px;box-sizing:border-box;border-radius:2px;background:url(images/sprite.png) no-repeat -283px -31px;padding-left:16px;padding-right:3px;line-height: 16px;}
.m-list1 li .u-info .u-price{display:inline-block;border:solid 1px #ddd;height:16px;box-sizing:border-box;border-radius:2px;background:url(images/sprite.png) no-repeat -283px -31px;padding-left:12px;line-height: 16px;}
.m-list1 li .m-hover{min-width:480px;min-height:239px;position:absolute;top:-10px;left:-10px;z-index:12;background-color:#f8f8f8;}
.m-list1 li .m-detail{height:155px;padding:11px;box-sizing:border-box;background-color:#fff;}
.m-list1 li .m-detail img{margin:0;}
.m-list1 li .m-detail .u-info{margin-left:18px;}
.m-list1 li .m-detail .u-info h3{display:block;width:100%;font-size:18px;color:#333;}
.m-list1 li .m-detail .u-info span{color:#666;}
.m-list1 li .m-detail .u-info .u-learner{border:none;margin:15px 0;}
.m-list1 li .m-hover .u-des{padding:20px;}
.m-list1 li .m-hover .u-des span{color:#666;margin-top:20px;line-height:24px}


.m-pagerwrap{width:100%;height:20px;position:relative;margin-top:10px;margin-bottom:120px;}
.m-pagerwrap .m-pager{width:302px;height:20px;position:absolute;right:20px;}
.m-pagerwrap .m-pager li{height:20px;width:30px;vertical-align: middle;}
.m-pagerwrap .m-pager li .u-pre{display:inline-block;width:30px;height:20px;background:url(images/sprite.png) no-repeat -52px 0}
.m-pagerwrap .m-pager li .u-next{display:inline-block;width:30px;height:20px;background:url(images/sprite.png) no-repeat -85px 0;margin-left:1px;}
.m-pagerwrap .m-pager li .u-number{display:inline-block;width:20px;height:20px;line-height:20px;margin-left:5px;text-align:center;}
.m-pagerwrap .m-pager li .u-number:hover{background:url(images/sprite.png) no-repeat -118px 0;color:#fff;}
.m-pagerwrap .m-pager li .z-selected{color:#39a030;}


.m-intro{width:226px;height:232px;background-color:#fff;}
.m-intro .u-video{margin:20px auto;width:170px;}
.m-intro .u-video p{margin-bottom:9px;}
.m-intro .u-video img{cursor:pointer;}

.m-rank{width:226px;height:778px;background-color:#fff;margin-top:19px;}
.m-rank-wrap{position:relative;width:188px;height:682px;margin:20px 0 0 20px;}
.m-rank .m-list2{position:absolute;top:0px;left:0px;}
.m-list2 li{margin-bottom:19px;}
/*.m-list2 li img{width:50px;height:50px;}*/
.m-list2 li img{margin-left:-38px;height:50px;width:88px;}
.m-list2 li .u-info{margin-left:62px;}
.m-list2 li .u-info h4{display:inline-block;width:126px;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.m-list2 li .u-info span{display:inline-block;margin-top:12px;background:url(images/sprite.png) no-repeat -284px -30px;padding-left:16px;}

.m-foot{width:1206px;margin:0 auto;height:90px;color:#6b6f71;}
.m-foot .m-logo{width:395px;margin-left:50px;}
.m-foot .m-logo h1{width:155px;height:26px;padding-left: 83px;background:url(images/sprite.png)  no-repeat -205px 4px;font-size: 22px;line-height:26px;color:#fff;}
.m-foot .m-logo span{display:inline-block;margin-top:15px;font-size:12.5px;line-height:26px;}

.m-foot .m-about{margin-right:209px;width:410px;}
.m-box1,.m-box2,.m-box3{margin-top:-10px;}
.m-box1{margin-right:96px;}
.m-box2{margin-right:72px;}
.m-box2{margin-right:72px;}
.m-foot .m-about .u-t{font-size:12.5px;margin-bottom:2px}
.m-foot .m-about span{display:inline-block;line-height:28px;}
.m-foot .m-about a{color:#6b6f71;}
.m-foot .m-about a:hover{text-decoration:underline;}
.m-foot .m-about .u-wb{display:inline-block;width:22px;height:18px;background:url(images/sprite.png) no-repeat -277px -55px;vertical-align:middle;}

/* for modal */
.m-modal{height:100%; width:100%; position:fixed; left:0; top:0; background-color:rgba(255,255,255,0.5); text-align:center; color:#000; z-index:11;}
.m-modal .modal_align,.m-modal .modal_wrap{display:inline-block; vertical-align:baseline; zoom:1; *display:inline; *vertical-align:auto; vertical-align:middle; }
.m-modal .modal_align{height:100%; width:1px; line-height:100%; } 
.m-modal .modal_wrap{position:relative; text-align:left; -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4); box-shadow:2px 2px 5px rgba(0,0,0,0.4); border-radius:3px; overflow:hidden; }
.m-modal .close{position:absolute; right:8px; top:8px; font-size:18px; color:#444; cursor:pointer; font-weight: bold; }
/*.m-modal .close:hover{color:#999;}*/

/* 视频弹窗 */
.m-modal .modal_body{background-color:#fff; border-top:1px solid #eee; padding-top:30px; }
.m-modal .m-videoWrap{width:950px;height:675px;}
.m-modal .m-videoWrap video{margin:20px 30px;}
.m-modal .m-videoWrap p{display:block;font-size:18px;margin-left:30px;}

/* 登录框 */
.m-login{width:386px;height:258px;box-sizing:border-box;padding:0px 51px 38px 39px;}
.m-login .u-title{font-size:18px;font-weight:bold;margin-bottom:20px;}
.m-login .u-input{margin-bottom:15px;}
.m-login .u-input>input{box-sizing:border-box;width:295px;height:45px;padding:13px 10px;border:1px solid #dfdfdf;box-shadow:inset 1px 1px 0 1px #f1f1f1;line-height:18px;}
.m-login .u-btn>button{width:295px;height:48px;background:url(images/sprite.png)  no-repeat -3px -143px;border:none;font-size:16px;color:#fff;}

/* status */
.z-tab-acv{background-color:#39a030;z-index:200;color:#fff;}

/* 窄屏样式 1206->960
    1616->1364
    1652->1364 over-flow hidden 图片第一个和最后一个裁剪
    980->736 换成3个一行 重新计算下
    浮层相对位置变化  left 247px top 0
*/
.m-note{width: 1206px;height: 36px;margin:0 auto;position:relative;}
.m-top{width:1206px;margin:0 auto;height: 22px;padding:33px 0 34px;}
.m-wrap .m-nav1{width:1206px;height:298px;margin:0 auto;}
.m-wrap .m-nav1 .m-ad{width:402px;}
.m-wrap .m-nav1 .m-ad .m-info p{display:block;width:238px;font-size:20px;margin-bottom:20px;text-align:justify;font-size:14px;}
.m-wrap .m-imgs{display:table;table-layout:fixed;width:1652px;margin:0 auto;}
.m-foot{width:1206px;margin:0 auto;height:90px;color:#6b6f71;}
.m-sld-wrap{position:relative;display:inline-block;width:1616px;height:460px;}
.g-mn{margin:0 auto;margin-top:84px;width:1206px;}
.g-mnc{width:980px;}
.m-list1 li .m-hover{min-width:480px;min-height:239px;position:absolute;top:-10px;left:-10px;z-index:12;background-color:#f8f8f8;}